				@font-face {
					font-family: 'sharpsans';
					src: url('https://cinekrom.com/wp-content/uploads/useanyfont/2430SharpSans.woff2') format('woff2'),
						url('https://cinekrom.com/wp-content/uploads/useanyfont/2430SharpSans.woff') format('woff');
						  font-display: auto;
				}

				.sharpsans{font-family: 'sharpsans' !important;}

				.et_gf_sharpsans{background:none !important;font-family:sharpsans;text-indent:0 !important;font-size:25px;}

		