				@font-face {
					font-family: 'sharpsans';
					src: url('https://www.cinekrom.com/wp-content/uploads/useanyfont/2430SharpSans.woff2') format('woff2'),
						url('https://www.cinekrom.com/wp-content/uploads/useanyfont/2430SharpSans.woff') format('woff');
					  font-display: auto;
				}

				.sharpsans{font-family: 'sharpsans' !important;}

						h1, h3, h4, h5, h6{
					font-family: 'sharpsans' !important;
				}
		